/* .jake {
   background-image:url("img/hero-bg.jpg") ;
   background-color: #cccccc;
   width: 100%;
   background: size 100%;
   background-position: bottom right;
}

header{display: flex;


}
header ul{display: flex;
}

header a:hover{
   opacity: 70%;
   border-radius: 30%;

}
.stash{
   display: flex;


}
header li{
   max-width: 1200px ;
   width: 5%;
   margin:0 30% ;
   padding: 20%;
   
}
.logo{
   background-color: yellow;
}
h1{
   color: yellow;
} */



footer{

   background-color: #EBEBEB;


}


header{
   color: white;

   background-image:url("img/hero-bg.jpg") ;
   background-color: #000000 ;
   background-position: bottom right;

}
.container{
   width:90%;
   max-width: 1100px;
   margin:0 auto;
}




.info-bar{
   display: flex;
   justify-content: space-between;
}

.info{
   text-align:center;
   margin: 2%;

}
.btn{
   background-color: #FFE600;
   color:#000000;
   text-decoration: none;
   padding: 15px 20px;


}
a.btn:hover{
   color: violet;
   padding: 30px;
   transition: all 5s;


}
.warm{
   color: orangered;
}

 nav ul {
   margin: 0;
   display: flex;
   padding: 0 0;
   

    
    list-style: none;

}
nav li{
   margin: 4%
;

}
nav a{
   text-decoration: none;
   white-space: nowrap;
}
.logo{

   background-color: #FFE600;
   
}

.titlebox{
   display: flex;
   



}